* {
    font-family: 'Roboto', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 5px 15px;
}

h1.nav-title {
    color: white;
}

ul.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

button.btn {
    background-color: rgb(28, 131, 214);
    border: 2px solid black;
    box-shadow: 2px 2px black;
    color: white;
}